body { /* Esta clase manipula el fondo y la fuente (tipografia) de la pagina*/
    background-color: #c9a799;
    font-family: Helvetica, sans-serif;
  }

  header {                    /*    OTRO FLEX PARA EL HEADER ( EN DONDE VA EL LOGO Y EL BANNER)*/
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    object-position: initial;
    width: 100%;
    border: solid 1px;/* ESTE BORDER ES SOLO PARA VISUALIZAR EL ESPACIO PUEDE ELIMINARSE*/
}

.navStyle{                  /*      EL ESTILO DE LA BARRA DE NAV, TAMBIEN HORIZONTAL Y CON MARGINS PARA SEPARAR UN POCO */
  border: solid 1px;/* ESTE BORDER ES SOLO PARA VISUALIZAR EL ESPACIO PUEDE ELIMINARSE*/
  display: flex; 
  flex-direction: row; 
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

.marginNav {                /*  MAS MARGENES AL NAV Y UN FLEX GROW PARA QUE EL MENU SE MANTENGA PROPORCIONAL AL ZOOM DE LA PANTALLA  */
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  flex-grow: 1;
  text-decoration: none; /* Elimina el subrayado del texto */
  font-weight: bold; /* Establece la letra en negrita */
  color: #B2281F; /* Cambia "orange" al color deseado */
}

  .enlace { /*enlaces del menu debajo del banner*/
    font-size: 27px;
    text-decoration: none; /* Elimina el subrayado del texto */
    font-weight: bold; /* Establece la letra en negrita */
    margin-left: 250px;
    color: #B2281F; /* Cambia "orange" al color deseado */
  }

  .enlace_footer { /* Esta clase manipula los enlaces en el footer*/
    font-size: 17px;
    color: #FFFFFF; /* esta etiqueta cambia el color de los enlaces del footer */
    text-decoration: none; /* Elimina el subrayado de los enlaces*/
  }

  .foot {
    color: #FFFFFF; /* cambbia el color del texto en el footer (pie de pagina) */
    background-color: #000000; /* cambbia el color de fondo en el footer (pie de pagina) */
    /*background-color: #A10010;*/
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.5); /* Agrega una sombra alrededor del borde */
  }

  .contenedor {
    display: flex;
  }
  
  .imagen { /* esta clase especifica las imagenes de las noticias, su tamaño y alineacion */
    margin-right: 10px; /* Ajusta el espacio entre la imagen y el párrafo según tus necesidades */
    width: 300px; /* Ancho deseado */
    height: 200px; /* Alto deseado */
      
  }